.item{
  background: #353646;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.next, .prev {
  background: #353646;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.nextLink, .prevLink {
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
}

.pagination{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
  user-select: none;
}

.active {
  background: #D53F8C;
}

.link {
  border-radius: 5px;
  padding: 5px 15px;
  text-align: center;
  display: inline-block;
}

.disabled {
  background: #181b23;
}